*{
    margin: 0;
padding: 0;
    box-sizing: border-box;
}
.contaner{
    max-width: 80%;
}
main form {
    background-image: url("https://raw.githubusercontent.com/LTUC/amman-201d22/main/class-10/lab-a/lab-assets/list-bg.png");
    list-style-type:square;
    background-repeat: no-repeat;
    

}
#rhgt{ 
    position: relative;
    bottom:120px;
    left:40%;
}
form input label{
    position: relative;
    left: 25%;
    
}

hr {
    background-image: url("/image/hr-img.png");
    background-repeat: repeat-x;
    border-top: 0.5em solid #bbb;
    border-radius: 0.313em;
   
}

h1 {
    margin-right: 66%;
    margin-left:0%;
    font-family: 'Kaushan Script', cursive;
}

#navbar {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    position: sticky;
    top:0;
    z-index: 1;
}
#navbar .logo img {
    width: 80px;

}
#ry {
    width: 1rem;
    margin-left: 70%;

}
#navbar  ul {
    list-style: none;
    display: flex;
    
}

#navbar ul li img{
    
    border-radius: 5px;
}

h5 {
    margin-left: 0%;
}

#m1 nav {
    display: inline;
    float: right;
   
    
}

span{
    font-size: 10px;
}

section{
    position: relative;
}

section button{
    position: absolute;
    right: 0px;
    top:25px;
    padding: 20px;
    
    font-size: xx-large;
    color: white;
    background-color:rosybrown;
    border:none;

}
#de{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    top: 70%;
    text-shadow: rgb(8, 8, 8);
}
#m3{
    margin-left: 97%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
#mftr{
    
    margin-left:40%;
    
    color:lightgray;
}

footer img{
    margin-left:50%;
    position: absolute;
    top: 295%;
}

#new {
    border-top: 1px dashed grey;
}

h2{
    font-family: 'Teko', sans-serif;
    font-size:xx-large;
}
p {

    clear: both;
    margin:5%;
}
section {display:flex ;
    clear: both;
    padding:1rem;
    top:0;
    z-index: 1;
    
    
}
#pro section {
    position: relative;
    width: 1rem;
    left: 10px;
   

}
h3{
   position: relative;
   left: 16%;
}
h6{
    margin-top: 10%;
    margin-left: 7%;
}